*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/shutterstock_1169699956\ 2.png);
    background-size: cover;
}

.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.heading-primary_main {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.36px;
    }

.heading-primary_sub {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0.36px;
}

.text-box {
    margin: auto;
 }
 
 .footer-text {
     padding: 40px;
 }
 
 .footer {
   text-align: center;
 }



.footer_main {
    width: 232px;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: -0.32px;
}

.back-img {
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    width: 40px;
    min-height: 40px;
    border: 1px solid #88B946;
    border-radius: 100px;
}

.back-img p {
    background: url(../images/Vector\ 175\ \(Stroke\).png);
    width: 11.5px;
    height: 11.5px;
    background-size: 6px;
    background-repeat: no-repeat;
}

.back-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-text {
    letter-spacing: -0.32px;
}

.back-text span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
}
/* comfirm password */

.forgot-login {
    width: 440px;
    min-height: auto;
    margin: auto;
}
.comfirm-container {
    width: 440px;
    min-height: 270px;
    padding-top: 93px;
}

.comfirm-code {

    min-height: 32px;
}
.text-actived span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.32px;
}

.text-actived {
    text-align: center;
    min-height: 32px;
}

.alert-code {
    width: 100%;
    padding-top: 12px;
}

.alert {
    width: 440px;
    min-height: 48px;
    text-align: center;
}

.alert span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6A6969;
    letter-spacing: -0.32px;
}

.border-input {
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.border-code {
    width: 440px;
    margin: auto;
    min-height: 60px;
    padding: 24px;
}


.border{
    width: 45px;
    min-height: 60px;
    border:#EBEBEB solid 1px;
    border-radius: 8px;
    background: #FDFDFD ;
}

.number-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Button */

.click {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 50px;
    gap: 8px;
}

.click-btn .secondary{
    width: 440px;
    min-height: 44px;
    background: #88B946;
    border: 1px solid #88B946;
    cursor: pointer;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
}



.register-text {
    width: 440px;
    min-height: 20px;
}

.register-text .register {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    justify-content: center;
}

.text-reg #text-reg {
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #333332;
}

.text-reg {
    min-height: 20px;
}

.btn-reg {
    width: 88px;
    min-height: 20px;
}

.btn-reg #btn-reg {
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #88B946;
    cursor: pointer;
}
