*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/shutterstock_1169699956\ 2.png);
    background-size: cover;
}

.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.heading-primary_main {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.36px;
    }

.heading-primary_sub {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0.36px;
}

.text-box {
    margin: auto;
 }
 
 .footer-text {
     padding: 40px;
 }
 
 .footer {
   text-align: center;
 }

.footer_main {
    width: 232px;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: -0.32px;
}

.back-img {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 40px;
    min-height: 40px;
    border: 1px solid #88B946;
    border-radius: 100px;
    cursor: pointer;
}

.back-img p {
    background: url(../images/Vector\ 175\ \(Stroke\).png);
    width: 11.5px;
    height: 11.5px;
    background-size: 6px;
    background-repeat: no-repeat;
}

.back-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-text {
    letter-spacing: -0.32px;
}

.back-text span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
}


/* Config */

.forgot-login {
    width: 440px;
    min-height: auto;
    margin: auto;
}


.config-images {
   text-align: center;
    padding-top: 40px;
}
.images-lock p{
    width: 160px;
    min-height: 160px;
    background: url(../images/Frame\ 139\ \(1\).png);
    display: inline-block;
}

.form-control {
    width: 440px;
    min-height: 320px;
    padding-top: 12px;
}

.config-new {
    width: auto;
    min-height: 32px;
    text-align: center;
}

.password-new span{
    width: 248px;
    min-height: 32px;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #333332;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 440px;
    min-height: 84px;
    padding-top: 12px;
}

.input-design {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.design #fname {
    width: 440px;
    min-height: 52px;
    padding: 14px 0px 14px 20px;
    color: #A0A6B0;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
}

.design-logo {
    position: absolute;
    margin-left: 400px;
}

.again #btn-reg{
    width: 440px;
    min-height: 52px;
    background: #88B946;
    color: #FFFFFF;
    border: 1px solid #88B946;
    border-radius: 8px;
}

.btn-reg {
    padding-top: 32px;
}