*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  overflow: hidden;
  width: 100% !important;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #ffffff;
}
.col-container {
    position: absolute;
    left: 200px;
    top:100px;

}
.content-images {
    position:absolute;
    width: 720px;
    min-height: 873px;
}
.images-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.text-box {
    position: absolute;
    width: 398px;
    height: 108px;
    left: 161px;
    top: 340px;
}
.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.heading-primary_main {
    display: block;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.36px;
}

.heading-primary_sub {
    display: block;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.36px;
}

.hot_line {
    position: absolute;
    width: 230px;
    height: 24px;
    left: 245px;
    top: 769px;
}

.number {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.number span {
    color: #FFFFFF;
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.container {
    width: 1440px;
    background: wheat;
    min-height: 837px;
}

.forgot-login {
    position: absolute;
    width: 720px;
    min-height: 837px;
    left: 720px;
    background: #FFFFFF;
}

.back .back-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.back {
    position: absolute;
    width: 189px;
    min-height: 40px;
    left: 140px;
    top: 70px;
}

/* Logo Back */

.back-logo {
    width: 40px;
    min-height: 40px;
    border: 1px solid #88B946;
    border-radius: 100px;
    cursor: pointer;
}

.back-logo .logo {
    position: absolute;
    width: 24px;
    min-height: 24px;
    left: 16px;
    top: 8px;
}

.back-text .btn-again {
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333332;
}

/* Logo */

.logo-box {
    position: absolute;
    width: 160px;
    min-height: 160px;
    left: 280px;
    top: 160px;

}

/* Input */

.config-input {
    position: absolute;
    width: 440px;
    min-height: 320px;
    left: 140px;
    top: 332px;
}

.config-text {
    position: absolute;
    width: 248px;
    min-height: 32px;
    left: 96px;
}

.config-text span {
    color: #333332;
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    
}
.col-input {
    position: absolute;
    width: 440px;
    min-height: 84px;
    top:56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.label-input {
    width: 116px;
    min-height: 20px;
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #333332;
}

.input-design {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0px 14px 20px;
    gap: 12px;
    width: 440px;
    height: 52px;
    background: #FDFDFD;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}

.design #fname {
    width: 370px;
    min-height: 20px;
    border: #FDFDFD solid 1px;
}

.col-input_sub {
    position: absolute;
    width: 440px;
    min-height: 84px;
    top: 158px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.label-input_sub {
    width: 118px;
    min-height: 20px;
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #333332;
}

.btn-reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 8px;
}

.btn-reg #btn-reg {
    position: relative;
    width: 440px;
    min-height: 44px; 
    top: 250px; 
    background: #88B946;
    border-radius: 8px;
    border: #88B946 solid 1px;
    color: #FFFFFF;
}