*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-images {
    width: 50%;
    background: url(../images/shutterstock_1169699956\ 2.png);
    background-size: cover;
}

.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.heading-primary_main {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.36px;
    }

.heading-primary_sub {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0.36px;
}

.text-box {
    padding-top: 450px;
}

.footer-text {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 480px;
    padding-left: 320px;
    gap: 32px;
}

.footer_main {
    width: 232px;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: -0.32px;
}

.back-img {
    display: flex;
    width: 40px;
    min-height: 40px;
    border: 1px solid #88B946;
    border-radius: 100px;
}

.back-img p {
    background: url(../images/Vector\ 175\ \(Stroke\).png);
    width: 1em;
    height: 1em;
    font-size: 16px;
    background-size: cover;
}

.back-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 70px;
}

.back-text {
    letter-spacing: -0.32px;
}

.back-text span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
}

/*Images Mobie */

.img-forgot {
    width: 195px;
    padding-left: 115px;
    min-height: 160px;
    padding-top: 60px;
}

.img p {
    width: 195px;
    height: 165px;
    background: url(../images/Frame\ 139.png);
    background-size: cover;
}

/* Forget */
.forgot-login {
    width: 50%;
    min-height: auto;
    padding-left: 223px;
}
.input-forget {
    width: 440px;
    min-height: 292px;
    padding-top: 12px;
}

.forget-style  {
    text-align: center;
}
.forget-style span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #333332;
}
.phone-register {
    text-align: center;
    font-family: 'be Vietnam 100' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32;
    padding-top: 12px;
}
#phone {
    font-family: 'be Vietnam 100' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32;
}


.form-input {
    width: 440px;
    min-height: 84px;
    padding-top: 20px;
}

.form-input .input-design {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.design {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.design input {
    width: 440px;
    min-height: 52px;
    background: #FDFDFD;
    border: 1px solid #EBEBEB;
}
.design #fname {
    padding: 16px 0px 16px 20px  ;
}

.click {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 50px;
    gap: 8px;
}

.click-btn .secondary{
    width: 440px;
    min-height: 44px;
    background: #88B946;
    border: 1px solid #88B946;
    cursor: pointer;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
}