*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

.home-page {
    background: #F3F5F7;
    min-height: 52px;
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid-col .heading-secondary {
    color: #A0A6B0;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;  
}

.heading-logo .row {
    gap: 20px;
}
#btn-success {
    width: 171px;
    min-height: 52px;
    background: #88B946;
    color: #FFFFFF;
    border: 1px solid #88B946;
}

.logo-better {
    display: flex;
    align-items: center;
    background: wheat;
    min-height: 96px;
}

.home-about {
    display: flex;
    flex-direction: row;
}
.logo-better {
    background: #FFFFFF;
}
.images-better {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    min-height: 96px;

}

.images {
    width: 80px;
    min-height: 80px;
    margin: 16px 0;
}

.images p {
    width: 80px;
    min-height: 80px;
    background: url(../images/image\ 2.png);
    background-size: cover;
}
.about-header {
    display: flex;
    align-items: center;
    gap: 16px;
}
.heading-about_main {

font-family: 'be Vietnam 100',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.32px;
color: #333332;
}

.about-hr {
    width: 0;
    min-height: 44px;
    border: #F3F5F7 1px solid;
}
.about{
    min-height: 48px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.about img {
    width: 24px;
    min-height: 24px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-menu_item {
    width: auto;
    min-height: 80px;
    background: #3267D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.heading-about{
    display: flex;
    flex-direction: column;
}

.heading-about_main {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #333332; 
}

.heading-about_sub {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #333332; 
}
/* search */
.list-group_items {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 40px;
}

.list-group_items a {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: -0.32px;
}

.vertical p {
    display: flex;
    flex-direction: row;
    width: 24px;
    height: 0px;
    opacity: 0.6;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    margin: 16px 0;
}


.btn-primary {
    width: 160px;
    min-height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    color: #88B946;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    line-height: 24px;
}

.navigation-menu {
    display: flex;
    align-items: center;
    min-height: 80px;
    background: #3267D9;
}
.mobi-heading {
    display: none;
}

.banner-home {
    min-height: 315px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -20.94%, rgba(55, 81, 113, 0.16626) -20.94%, rgba(8, 46, 92, 0.528) 187.94%),url(../images/shutterstock_1463056853\ 2.png);
    background-size: cover;
}

.banner-image {
    text-align: center;
    padding-top: 133px;
}

.banner-image span {
    font-family: 'be Vietnam 100' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    color: #F3F5F7;
    line-height: 50px;
    letter-spacing: 0.36px;
}

/* Table Price*/
.table-price {
    background: #F3F5F7;
    padding-top: 64px;
}

.text-title span{
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.text-title {
    text-align: center;
}

.box-text {
    padding: 20px;
    text-align: center;
}
.box-text span{
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    color: #3267D9;
}

.box-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



table {
    text-align: center;
    border-collapse: collapse;
}

.table-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 0px;
}

/* profile */



.present-primary {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 66px;
    gap: 12px;
    
}

.present-primary_main {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3267D9;
    letter-spacing: -0.32px;
}

.present-primary_sub {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #333332;
    letter-spacing: 0.36px;
}

.image-vector {
    position: relative;
    text-align: center;
    padding-top: 113px;
}

.present-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-col {
    width: 100%;
    text-align: center;
    min-height: 145px;
}

.text-pr {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.text-pr span{
    font-family: 'be Vietnam 100', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-family: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #6A6969;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.horizontal-primary_main{
    width: 90px;
    min-height: 8px;
    background: #3267D9;
}

.horizontal-primary_sub {
    padding-top: 60px;
    font-family: 'be Vietnam 100', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.36px;
    color: #6A6969;
}
.present-primary_del {
    display: none;
}

.present-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
}


.img-col img {
    border: 1px solid #FFFFFF;
    border-radius: 180px;
}

/* Footer */
.footer-input {
    height: 480px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -20.94%, rgba(55, 81, 113, 0.2771) -20.94%, #082E5C 119.17%), url(../images/shutterstock_736552108\ 1.png);
    background-size: cover;
}

.calendar {
    padding-top: 70px;
}

.calendar-input {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.calendar-logo {
    width: 100%;
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.introduce-col {
    width: 42%;
}

.profile-input_primary {
    width: 50%;
}

.logo-who {
    position: absolute;
    width: 50%;
    min-height: 192px;
    background: url(../images/VectorHo.png);
    background-size: cover;
    opacity: 0.15;
}

.calendar-text {
    position: relative;
    width: 100%;
    min-height: 132px;
}

.text-primary_main span {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.32px;
    color: #3267D9;
}


.profile-calendar {
    width: 100%;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.cal {
    width: 48%;
}

.profile-input {
 width: 100%;
}
.profile #fname {
    width: 100%;
    min-height: 52px;
    background: #FDFDFD;
    border: 1px solid #EBEBEB;
    padding: 16px 20px;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.15px;
    color: #A0A6B0;
    border-radius: 8px;
}

.profile_main {
    padding-top: 16px;
}

.profile_sub {
    padding-top: 16px;
}

.profile #fhours {
    width: 100%;
    min-height: 52px;
    background: #FDFDFD;
    border: 1px solid #EBEBEB;
    padding: 16px 20px;
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #A0A6B0;
    border-radius: 8px;
}
.input-primary {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.profile-click {
    padding-top: 16px;
}
#btn-success_main {
    width: 100%;
    min-height: 48px;
    background: #88B946;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
}

.footer-questions {
    width: 100%;
    min-height: 713px;
    background: url(../images/shutterstock_1711921201\ 1.png);
    background-size: cover;
}

.question-primary {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    gap: 12px;
}

.question-primary_main {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #3267D9;
}
.question-primary_sub {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.36px;
}
.question-select {
    padding-top: 32px;
}

.question-select #fquery {
    width: 40%;
    min-height: 56px;
    background: #163B9D;
    padding: 0px 32px;
    color: #FFFFFF;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.32px;
}
.question-text {
    padding-left: 34px;
    padding-top: 16px;
}


.question-text_main {
    width: 35%;
    min-height: 72px;
}
.question-more {
    padding-top: 32px;
}

.more {
    width: 40%;
    min-height: 280px;
}

.more-primary_horizontal p {
    width: 100%;
    min-height: 0px;
    border: 1px solid rgba(50, 103, 217, 0.15);
}

.more-primary_text {
    width: 100%;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px 16px 32px;
}

.more-arr span{
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #3267D9;
}

.introduce-logo {
    width: 80px;
    min-height: 80px;
    background: url(../images/image\ 28.png);
}

.footer-maps {
    min-height: 396px;
    background: #0B1F31;
}

.introduce-maps {
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    gap: 32px;
}

.introduce-text {
    width: 100%;
    min-height: 48px;
    padding-top: 14px;
}

.introduce-text span {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #FFFFFF;
}

.introduce-profile {
    min-height: 92px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 14px;
}

.introduce-address {
    display: flex;
    flex-direction: row;
    gap: 18.5px;
}

.address-text span{
    display: flex;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}
.maps-primary .maps-images{
    min-height: 256px;

}

.suport {
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.suport-primary span {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}

.footer-suport {
    display: flex;
    flex-direction: column;
    gap: 78px;
}
.footer-end {
    width: 100%;
    background:  #3267D9;
}
.footer-copyright {
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 128px;
    min-height: 20px;
    gap: 20px;
}

.footer-copyright_main span {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: -0.15px;
}
.mobi-heading {
    display: none }

.logo-icons {
    display: flex;
    gap: 20px;
}

/* Responsive */

@media screen and (max-width: 1024px) { 
    .home-page {
        display: none;
    }
    .logo-better {
        display: none;
    }
    .nav-menu {
        display: none;
    }
    .login_btn {
        display: none;
    }
    .mobi-heading {
        display: inline;
    }
    .heading-logo {
        width: 40px;
        min-height: 40px;
        background: url(../images/image\ 28.png);
        background-size: cover
        
    }
    .heading-icon_drop {
        width: 20px;
        min-height: 16px;
    }

    .heading-search {
        width: 20.75px;
        min-height: 20.75px;
    }

    .heading-search p{
        width: 20.75px;
        min-height: 20.75px;
        background: url(../images/search.png);
        background-size: cover;
    }

    .heading-icon_drop p {
        width: 20px;
        min-height: 16px;
        background: url(../images/combo\ shape.png);
        background-size: cover;
    }
    .box-table {
        flex-wrap: wrap;
    }
    .mobi-heading {
        width: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        flex-wrap: wrap;
    }
    .table-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .present-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .present_del {
        display: none;
    }

    .present-primary_sub {
        font-family: 'be Vietnam 100';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    .present-primary_del {
        display: inline;
        font-family: 'be Vietnam 100';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    .present-inline {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 31px;
    }

    .footer-input{
        width: 100%;
        height: 1016px;
    }
    .calendar-input {
        width: 100%;
        height: 886px;
    }

    .calendar-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .input-primary {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #btn-success_main {
        width: 100%;
    }

    .introduce-maps {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .present-primary_sub:hover {
        padding: 8px 21.5px;
        border-radius: 100px;
        background: rgba(136, 185, 70, 0.15);
    }
    .present-primary_del:hover {
        padding: 8px 21.5px;
        border-radius: 100px;
        background: rgba(136, 185, 70, 0.15);
    }
    .logo-who {
        width: 32%;
    }
    .cal {
        width: 100%;
    }

    .calendar-text {
        width: 28%;
    }

    .profile-input_primary {
        width: 47%;
    }

    .profile-click {
        width: 100%;
    }
    .more {
        width: 87%;
    }
    .question-text_main {
        width: 87%;
    }
    .question-select #fquery{
        width: 87%;
    }
    .header-logo {
        display: none;
    }

    .footer-copyright {
       display: flex;
       flex-direction: row;
       justify-content: center;
    }
    .images-suport {
        padding-bottom: 20px;
    }
}


@media screen and (min-width: 375px) { 
    .calendar-text {
        width: 68%;
    }
    .logo-who {
        width: 11%;
    }
    .introduce-col {
        width: 55%;
    }
}
