*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-images {
    width: 50%;
    background: url(../images/shutterstock_1169699956\ 2.png);
    background-size: cover;
}

.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.heading-primary_main {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.36px;
    }

.heading-primary_sub {
        display: block;
        color: #FFFFFF;
        font-family: 'be Vietnam 100' ,sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0.36px;
}

.text-box {
    padding-top: 450px;
}

.footer-text {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 480px;
    padding-left: 320px;
    gap: 32px;
}

.footer_main {
    width: 232px;
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: -0.32px;
}

/* Right */

.right-login {
    width: 50%;
    min-height: auto;
    padding-top: 70px;
    padding-left: 264px;
}

.right-images{
    width: 106px;
    min-height: 106px;

}

.images {
    width: 106px;
    min-height: 106px;
    margin-left: 167px;
    background: url(../images/image\ 2.png);
    background-size: cover;
}

.right-text {
    width: 100%;
    min-height: 32px;
    margin: 12px 104px;
}

.text-care {
    width: 244px;
}

.text-care span {
    font-family: 'be Vietnam 100',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.fb-icons {
    width: 20px;
    min-height: 20px;
}
.icons {
    width: 20px;
    min-height: 20px;
    background: url(../images/fb.png);
    background-size: cover;
}

.border-connect_box {
    width: 440px;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.connect {
    width: 192px;
    min-height: 48px;
    display: flex;
    margin: 12px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}


.icons-google {
    width: 20px;
    min-height: 20px;
    background: url(../images/google.png);
    background-size: cover;   
}

.icons-zalo {
    width: 20px;
    min-height: 20px;
    background: url(../images/logo-zalo.jpeg);
    background-size: cover;
}


.gap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 4px;
}

.brick {
    position: absolute;
    width: 440px;
    min-height: 0px;
}
.brick-line {
    border: 1px solid #EBEBEB;
}
.brick-text span {
    font-family: 'be Vietnam 100';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #6A6969;
    background: #FFFFFF;
}

.brick-text {
    background: #FFFFFF;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 4px 12px;
   gap: 4px;
   width: 61px ;
   min-height: 32px;
   position: relative;
   margin-left: 180px;
   margin-top: -10px;
}

.form-control {
    width: 440px;
    min-height: 356px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.input-design #fname{
    width: 440px;
    min-height: 52px;
    padding: 16px 0px 16px 28px;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 440px;
    min-height: 84px;
    padding-top: 12px;
}

.input-design {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.design-logo {
    position: absolute;
    padding-left: 400px;
}

.form-pass {
    width: 440px;
    min-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.form-text #text {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #88B946;
}

.form-checkbox #vehicle {
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: #333332;
}

.login-btn {
    width: 440px;
    min-height: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.btn-control #btn-primary{
    width: 440px;
    min-height: 44px;
    background: #3267D9;
    border-radius: 8px;
    border: 0px solid #3267D9;
    color: #FFFFFF;
    font-family: 'be Vietnam 100' ,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
}

.btn-control {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.btn-control img {
    position: absolute;
    padding-left: 118px;
}

.btn-control #btn-success{
    width: 440px;
    min-height: 44px;
    background: #88B946;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'be Vietnam 100' ,sans-serif;
    border: 0px solid #88B946;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
}

.register-text {
    width: 247px;
    min-height: 20px;
    margin: 300px 100px;
}

.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

}

.text-reg {
    width: 147px;
    min-height: 20px;
}
.text-reg #text-reg {
    font-family: 'be Vietnam 100', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
}

.btn-reg {
    width: auto;
    min-height: 20px;
}

.btn-reg #btn-reg {
    font-family: 'be Vietnam 100', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #88B946;
    letter-spacing: -0.15px;
}